DATABASE_URL="mysql://root:root@127.0.0.1:3306/nest"

PORT=
JWT_SECRET=

FIREBASE_SERVICE_ACCOUNT=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

FRONTEND_URL=http://localhost:41201
LCPANEL_APPS_PATH=./apps
LCPANEL_GIT_CUSTOMER_ID=

CORE_ORIGIN=http://localhost:3000,http://localhost:5173

LOG_TYPE = DEV

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

GITLAB_BASE_URL=
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_REDIRECT_URI=
