DATABASE_URL="mysql://root:root@127.0.0.1:3306/nest"

PORT=
JWT_SECRET=

FIREBASE_SERVICE_ACCOUNT=
FIREBASE_SERVICE_ACCOUNT_PATH=/home/lay/secrets/your-project-firebase-adminsdk.json
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

FRONTEND_URL=http://localhost:41201

LCPANEL_APPS_PATH=/home/lay/lcpanel-apps
NGINX_SITES_AVAILABLE_PATH=/etc/nginx/sites-available
NGINX_SITES_ENABLED_PATH=/etc/nginx/sites-enabled
DEPLOY_NGINX_STAGE_PATH=/home/lay/lcpanel-apps/.lcpanel/nginx
DEPLOY_BUILD_LOGS_PATH=/home/lay/lcpanel-apps/.lcpanel/build-logs
DEPLOY_NGINX_USE_SUDO=true
DEPLOY_DOMAIN_SUFFIX=your-domain.com

CORE_ORIGIN=http://localhost:3000,http://localhost:5173

LOG_TYPE = DEV

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

GITLAB_BASE_URL=
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_REDIRECT_URI=
