@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

:root {
  --ui-font-sans: 'Kantumruy Pro', sans-serif;
}

html,
body,
#__nuxt {
  font-family: 'Kantumruy Pro', sans-serif !important;
}

* {
  font-family: 'Kantumruy Pro', sans-serif !important;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #021c1800 inset !important;
    -webkit-text-fill-color: #e2e8f0 !important;
    caret-color: #e2e8f0;
    background-color: transparent !important;
    transition: background-color 9999s ease-in-out 0s;
  }
}
/* Fix Chrome autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #0f172a inset !important; /* your bg color */
  box-shadow: 0 0 0px 1000px #0f172a inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 9999s ease-in-out 0s;
}
